@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 0px !important;
}

.bouton {
    background-color: #FFA800;
    text-transform: uppercase;
    border-style: none;
    border-radius: 40px 20px 40px 20px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
}

.bouton:hover {
    background-color: #dd9300;
}

.boutonNegatif {
    color: #FFA800;
    background-color: white;
    text-transform: uppercase;
    border-width : 2px;
    border-style: solid;
    border-color : #FFA800;
    border-radius: 40px 20px 40px 20px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
}

.boutonNegatif:hover {
    background-color: #eee;
}

.erreur{
    color: red;
}

.text-jaune {
    color: #FFA800;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}