@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.row {
    margin: 0px !important;
}

.container {
    max-width: 1000px;
}

.bouton {
    background-color: #8B2D2D;
    text-transform: uppercase;
    color: white;
    border-style: none;
    border-radius: 40px 20px 40px 20px;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
}

.bouton:hover {
    background-color: #A03939;
}

.bouton:disabled {
    background-color: lightgray;
}

.boutonNegatif {
    color: #8B2D2D;
    background-color: white;
    text-transform: uppercase;
    border-width : 2px;
    border-style: solid;
    border-color : #8B2D2D;
    border-radius: 40px 20px 40px 20px;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
}

.boutonNegatif:hover:enabled {
    background-color: #eee;
}

.boutonNegatif:disabled {
    color: lightgray;
    border-color: lightgray;
}

.erreur{
    color: red;
}

.text-accent {
    color: #8B2D2D;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.blanc{
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
}

.blanc:hover{
    background-color: #eee;
}

.entreeUtilisateur {
    font-family: 'Montserrat', FontAwesome;
    height: 40px;
    border-bottom: 2px solid #bfbfbf;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100%;
}

.entreeUtilisateur::placeholder {
    color: #bfbfbf !important;
}

.boutonDeconnexion{
    width: 180px !important;
    text-align: center !important;
}

.logoEntrerise {
    width: 80px;
    border: 2px solid lightgray;
    border-radius: 100%;
}