.centrer{
    margin-top: 20%;
    padding:2%;
    background: white;
    border : 2px solid #bfbfbf;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 800px;
}

label{
    font-size: 13px;
}

input{
    font-family: Arial, FontAwesome;
    height: 40px;
    border-bottom: 2px solid #bfbfbf;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input::placeholder{
    color : #bfbfbf !important;
    font-size: 16px;
}

a{
    color : black;
}

.blanc{
    background-color: white;
    border:0;
    width: 40px;
}

.bouton{
    width: 180px;
}
