.bouton-filtre {
    border-radius: 50px;
    min-width: 122px;
    font-weight: 400;
    font-size: 12px;
    border: #8B2D2D solid 1px;
    margin-bottom: 8px;
    color: white;
}

.bouton-filtre-selectionner {
    background-color: #8B2D2D;
}

.bouton-filtre-selectionner:hover {
    background-color: #A03939;
    border-color: #A03939;
}

.bouton-filtre-deselectionner {
    background-color: #FFFFFF;
    color: #8B2D2D;  
}

.bouton-filtre-deselectionner:hover {
    background-color: #dfdfdf;
}

form {
    display:inline;
}