.container {
    max-width: 1000px !important;
    margin-right: 20px;
    margin-left: 20px;
}
.texte {
    vertical-align: middle;
    margin-left: 5px;
}

.colEntreprise {
    margin-left: 20px;
}

.logoEntreprise {
    border-radius: 100%;
    border: 2px solid gray;
}

.boutonSupprimerMd {
    background-image: url("../ressources/supprimer.png");
    background-color: transparent;
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    width: 30px;
    border: none;
}

.bouton {
    font-size: 13px;
}

.bouton:hover {
    background-color: #e09602;
}

.confirmation {
    width: 75px;
}

.nomEntreprise {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.entreprise {
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}