@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none;
}

.profil-det-img .dp {
    padding: 16px 8px 8px 8px; }
.profil-det-img .dp img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border-style: solid;
    border-color: #D9D9D9;
}
.profil-det-img .pd {
    padding: 10px;
    vertical-align: middle;
    margin: auto 0; }
.profil-det-img .pd h2 {
    font-size: 22px;
    margin-bottom: 0px; }

@media screen and (max-width: 850px) {
    .profil-det-img .pd h2 {
        font-size: 18px; } 
}

.profil-det-img .pd p {
    font-size: 14px; 
    margin-bottom: 0px;}


li, ul {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

.container {
    max-width: 1000px;
}

.bouton {
    width: 100%;
}

hr {
    margin-bottom: 8px;
}

p {
    margin-top: 0;
    margin-bottom: 4px;
}

.student {
    color: #8B2D2D;
    margin-bottom: 0;
}

.description {
    margin-bottom: 8px;
}

.accordion {
    margin-bottom: 8px;
}

.accordion-item {
    border-radius: 4px;
}

.accordion-item:not(:first-of-type) {
    border: 1px solid #D9D9D9 !important;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;

}
.accordion-button:focus {
    border-color: #8B2D2D !important;
}

.title {
    color: #8B2D2D;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238B2D2D'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

}

.addStudent {
    background-color: white;
    border: solid 1px #8B2D2D;
    color: #8B2D2D;
    border-radius: 4px;
}

.addStudent:hover:enabled {
    background-color: #eee;
}

.addStudent:disabled {
    background-color:;
    border-color: lightgray;
    color: lightgray;
}

.tag {
    border-radius: 50px;
    margin: 0 2px;
    padding: 2px 4px;
    min-width: 100px;
    font-weight: 600;
    font-size: 8px;
    border: #39E2F8 solid 1px;
    background-color: #39E2F8;
    width: auto;
    height: fit-content;
}

.speakerName {
    font-size: 14px;
    font-weight: 500;
}

.speakerRole {
    font-size: 12px;
    font-weight: 400;
}

.boutonNegatif {
    width: 100%;
}


.buttonToCheck {
    cursor: pointer;
    display: flex;
    margin-top: 12px;
}
  
.buttonToCheck input[type="checkbox"] {
    display: none;
}
  
.buttonToCheck .icon-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    user-select: none;

    background-color: #FFFFFF;
    color: #8B2D2D;  
    border-radius: 50px;
    min-width: 122px;
    font-weight: 400;
    font-size: 12px;
    border: #8B2D2D solid 1px;
    margin-bottom: 4px;
}


.buttonToCheck .icon-box:hover {
    background-color: #dfdfdf;
}
  
.buttonToCheck input[type="checkbox"]:checked ~ .icon-box {
    background-color: #8B2D2D;
    color: white;
}
.buttonToCheck input[type="checkbox"]:checked ~ .icon-box:hover {
    background-color: #A03939;
    border-color: #A03939;
}
  
.buttonToCheck .icon-box span {
    font-size: 12px;
}

.icon {
    color: #8B2D2D;
    font-size: 1.5em;
}

.navigue {
    overflow-y: scroll; /* Add the ability to scroll */
}
  
.navigue::-webkit-scrollbar {
    display: none;
}

.icon-title {
    margin-bottom: 0.5em;
    background-color: white;
}