
.texte {
    vertical-align: middle;
    margin-left: 5px;
}



.colEntreprise {
    margin-left: 20px;
}

.logoEntreprise {
    border-radius: 100%;
    border: 2px solid #e9e9e9;
}

.boutonSupprimerMd {
    background-image: url("../ressources/supprimer.png");
    background-color: transparent;
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    width: 30px;
    height: 30px;
    border: none;
    background-size: contain
}

.bouton {
    font-size: 13px;
}

.confirmation {
    width: 75px;
}


.entreprise {
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    margin: 10px !important;
    padding: 10px;
}