/*importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none; /* pas de style de list */
}

.company {
    border-style: solid; /* style du cadre*/
    border-width: 1px; /* cadre de 1pixe de large */
    border-radius: 4px; /* angle de 4 pixel */
    border-color: #D9D9D9; /* cadre gris/blanc */
    padding: 16px 8px 8px 8px; /* marge intérieur de 16 pixel en haut et 8 pixel pour le reste*/
    margin-top: 16px; /* marge extèrieur du haut = 16 pixel  */
    cursor: pointer;
}

.profil-det-img .dp {
    padding: 16px 8px 8px 8px;  /* marge intérieur de 16 pixel en haut et 8 pixel pour le reste*/
}

.profil-det-img .dp img {
    border-radius: 100%; /* cadre rond*/
    width: 80px; /* largeur de 80 pixel */
    height: 80px; /* hauteur de 80 pixel */
    border-style: solid; /* style de la bordure */
    border-color: #D9D9D9; /*couleur de la bordure */
}

.profil-det-img .pd {
    padding: 10px; /* marge intérieur de 10 pixel */
    vertical-align: middle; /* alignement verticale du texte*/
    margin: auto 0;  /* marge extèrieurautomatique */
}

.profil-det-img .pd h2 {
    font-size: 22px; /* taille de la police */
    margin-bottom: 0px; /* pas de marge extèrieur en bas */
}

@media screen and (max-width: 850px) {
    .profil-det-img .pd h2 {
        font-size: 18px;  /* taille de la police */
    }
}

.profil-det-img .pd p {
    font-size: 14px;  /*  taille de la police */
    margin-bottom: 0px;/* marge extèrieur du bas = 0 pixel  */
}

li, ul {
    padding: 0;
    margin: 0; /* pas de marge extèrieur */
    font-size: 13px; /* taille de la police */
    font-weight: 500; /* poids ou gras du texte = 500*/
}

h2 {
    font-size: 20px; /* taille de la police */
    font-weight: 600; /* poids ou gras du texte = 600*/
}

.container {
    max-width: 1000px; /* largeur max de 1000 pixel */
}

.form-outline {
    /*margin-top: 4em;*/
    height: 40px; /* hauteur de 40 pixel*/
}

.form-control {
    height: 40px; /* hauteur de 40 pixel*/
}

button {
    background-color: white; /* modifie la couleur de fond */
}

hr {
    margin-bottom: 8px; /* marge extèrieur du bas = 8 pixel  */
}

p {
    margin-top: 0;  /* pas marge extèrieur du top */
    margin-bottom: 4px; /* marge extèrieur du bas = 4 pixel  */
    font-size: 13px; /* taille de la police */
}

.student {
    color: #8B2D2D;
    margin-bottom: 0; /* pas marge extèrieur du bas */
}

.description {
    margin-bottom: 8px; /* marge extèrieur du bas = 8 pixel  */
}

.btn-link {
    text-decoration: none; /* pas de décoration de texte */
}

.btn-link h2 { 
    color: #8B2D2D; /* texte en rouge */
}

.btn-link li {
    color: black; /* texte en noir */
}

.accordion {
    margin-bottom: 8px; /* marge extèrieur du bas = 8 pixel  */
}

.accordion-item {
    border-radius: 4px; /* angle de 4 pixel */
}

.accordion-item:not(:first-of-type) {
    border: 1px solid #D9D9D9 !important; /* cadre de 1 pixel et gris */
}

.accordion-button:not(.collapsed) {
    color: black; /* texte en noir */
    background-color: white; /* modifie la couleur de fond */

}
.accordion-button:focus {
    border-color: #8B2D2D !important; /* cadre rouge foncé*/
}

.accordion-item button {
    border-radius: 4px;  /* angle de 4 pixel */
}

.title {
    color: #8B2D2D; /* texte rouge foncé*/
}

.accordion-button::after {  
    /* définition d'une image comme fond*/
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238B2D2D'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

}