@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /*definit famille de la police et sa taille */
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-size: 12px; /* taille de la police */
}

.zoneText {
    /* hauteur de 40 pixel, bordure du bas blanche et une largeur qui prends tout le conteneur */
    font-family: 'Montserrat', FontAwesome;
    height: 40px;
    border-bottom: 2px solid #bfbfbf;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100%;
}

.zoneText select { 
    /* texte en blanc */
    color: #bfbfbf; 
}

input ::placeholder {
    /* texte en blanc */
    color: #bfbfbf !important;
}

.rounded-circle {
    /* élément de 75 pixel sur 75 pixel avec un cadre blanc et un arrondis dde 50%*/
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-style: solid;
    border-color: #D9D9D9;
}

.company {
    /* cadre blanc avec un arrrondis de 4 pixel*/
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #D9D9D9;
    padding: 16px 8px 8px 8px;/* marge intérieur*/
    margin-top: 16px;
    cursor: pointer;
}

.profil-det-img .dp {
    padding: 16px 8px 8px 8px; /* marge intérieur*/}
.profil-det-img .dp img {
    /*cadre rond de 80 pixel  et blanc*/
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border-style: solid;
    border-color: #D9D9D9;
}
.profil-det-img .pd {
    padding: 10px; /* marge intérieur*/
    vertical-align: middle;
    margin: auto 0; }
.profil-det-img .pd h2 {
    font-size: 22px; /* taille de la police */
    margin-bottom: 0px; }
@media screen and (max-width: 850px) {
    .profil-det-img .pd h2 {
        font-size: 18px;  /* taille de la police */} }
.profil-det-img .pd p {
    font-size: 14px; /* taille de la police */
    margin-bottom: 0px;}

li, ul {
    padding: 0; /* marge intérieur*/
    margin: 0;
    font-size: 13px; /* taille de la police */
    font-weight: 500; /* gras du texte */
}

h2 {
    font-size: 20px; /* taille de la police */
    font-weight: 600; /* gras du texte */
}

.container { 
    max-width: 1000px; /* largeur max de 1000 pixel */ 
}

.form-outline {
    /*margin-top: 4em;*/
    height: 40px; /* hauteur de 40 pixel */
} 

.form-control {
    height: 40px; /* hauteur de 40 pixel */
}

.detailEtudiant {
    font-size: 14px; /* taille de la police */
    font-weight: 600; /* gras du texte */
}

.nomEntreprise {
    font-size: 20px; /* taille de la police */
    font-weight: 600; /* gras du texte */
    margin-bottom: 5px;
}

.entreprise {
    /* cadre blanc avec arrondis de 5 pixel */
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 0;
}

.logoEntreprise {
    /* cadre rond blanc*/
    border-radius: 100%;
    border: 1px solid #D9D9D9;
}

.bouton {
     /* hauteur de 40 pixel, fond rouge , bordure rouge, arrondis des angles */
    height: 40px;
    background-color: #8B2D2D; /* modifie la couleur de fond */
    text-transform: uppercase;
    border-style: none;
    border-radius: 40px 20px 40px 20px;
    padding: 10px 16px;
    font-size: 13px; /* taille de la police */
    font-weight: 500; /* gras du texte */
    width: 100%;
}

.boutonNegatif {
    /* hauteur de 40 pixel, texte rouge sur fond blanc, bordure rouge, arrondis des angles */
    height: 40px;
    background-color: white; /* modifie la couleur de fond */
    text-transform: uppercase;
    border: solid 1px #8B2D2D;
    color: #8B2D2D;
    border-radius: 40px 20px 40px 20px;
    padding: 10px 16px;
    font-size: 13px; /* taille de la police */
    font-weight: 500; /* gras du texte */
    width: 100%;
}

button {
    background-color: white; /* modifie la couleur de fond */
}

hr {
    margin-bottom: 8px;
}

p {
    margin-top: 0;
    margin-bottom: 4px;
}

.student {
    /* couleur rouge foncés*/
    color: #8B2D2D;
    margin-bottom: 0;
}

.modalLabel {
    font-size: 10px; /* taille de la police */
    font-weight: 700; /* gras du texte */
}

.addStudent {
    /*texte rouge sur fond blanc avec une bordure rouge */
    background-color: white; /* modifie la couleur de fond */
    border: solid 1px #8B2D2D;
    color: #8B2D2D;
    border-radius: 4px;
}

.addStudent:hover {
    background-color: #eee; /* modifie la couleur de fond */
}

.description {
    margin-bottom: 8px;
}

.btn-link {
    text-decoration: none;
}

.btn-link h2 {
    color: #8B2D2D; /* texte en rouge foncé */
}

.btn-link li {
    color: black; /* texte en noir */
}

.accordion {
    margin-bottom: 8px;
}

.accordion-item {
    border-radius: 4px;
}

.accordion-header {
    padding: 1px;
}

.accordion-item:not(:first-of-type) {
    border: 1px solid #D9D9D9 !important;
}

.accordion-button:not(.collapsed) {
    color: black; /* texte en noir */
    background-color: white; /* modifie la couleur de fond */

}
.accordion-button:focus {
    border-color: #8B2D2D !important; /* bordure rouges foncés*/
}



.title {
    color: #8B2D2D; /* couleur rouge foncé */
}

.accordion-button::after {
    /* image comme fond */
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238B2D2D'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

}

.erreur {
    color: red; /* couleur rouge */
}

.blanc{
    /* fond blanc avec un arrondis de 50 %*/
    background-color: white; /* modifie la couleur de fond */
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.blanc:hover{
    background-color: #eee; /* modifie la couleur de fond */
}

.buttonToCheck {
    cursor: pointer;
    display: flex;
  }
  
  .buttonToCheck input[type="checkbox"] {
    display: none;
  }
  
  .buttonToCheck .icon-box {
    /* aligne l'item au centre. TExte rouge foncé sur un fond blanc avec une bordure rouge foncés et texte en taille 12*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    user-select: none;

    background-color: #FFFFFF; /* modifie la couleur de fond */
    color: #8B2D2D;  
    border-radius: 50px;
    min-width: 122px;
    font-weight: 400; /* gras du texte */
    font-size: 12px; /* taille de la police */
    border: #8B2D2D solid 1px;
    margin-bottom: 4px;
  }


  .buttonToCheck .icon-box:hover {
    background-color: #dfdfdf; /* modifie la couleur de fond */
}
  
  .buttonToCheck input[type="checkbox"]:checked ~ .icon-box {
    background-color: #8B2D2D; /* modifie la couleur de fond */
    color: white; /*texte en blanc */
  }
  .buttonToCheck input[type="checkbox"]:checked ~ .icon-box:hover {
    background-color: #A03939; /* modifie la couleur de fond */
    border-color: #A03939; /* cadre en rouge foncés */
  }
  
  .buttonToCheck .icon-box span {
    font-size: 12px; /* taille de la police */
  }
  
  .rowForChecks {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .sort {
    font-size: 13px; /* taille de la police */
    color: #8B2D2D;
    background-color: white; /* modifie la couleur de fond */
    border: none;
    
  }