@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none;
}

.company {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #D9D9D9;
    padding: 16px 8px 8px 8px;
    margin-top: 16px;
    cursor: pointer;
}

.profil-det-img .dp {
    padding: 16px 8px 8px 8px; 
}

.profil-det-img .dp img {
    border-radius: 50px;
    width: 80px; 
    border-style: solid;
    border-color: #D9D9D9;
}

.profil-det-img .pd {
    padding: 10px;
    vertical-align: middle;
    margin: auto 0; 
}

.profil-det-img .pd h2 {
    font-size: 22px;
    margin-bottom: 0px; 
}

@media screen and (max-width: 850px) {
    .profil-det-img .pd h2 {
        font-size: 18px; 
    } 
}

.profil-det-img .pd p {
    font-size: 14px; 
    margin-bottom: 0px;
}

li, ul {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

.container {
    max-width: 1000px;
}

.form-outline {
    /*margin-top: 4em;*/
    height: 40px;
}

.form-control {
    height: 40px;
}

.detailEtudiant {
    font-size: 14px;
    font-weight: 600;
}

.nomEntreprise {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.entreprise {
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 0;
}

.logoEntreprise {
    border-radius: 100%;
    border: 1px solid #D9D9D9;
}

button {
    background-color: white;
}

hr {
    margin-bottom: 8px;
}

p {
    margin-top: 0;
    margin-bottom: 4px;
}

.student {
    color: #FFA800;
    margin-bottom: 0;
}

.description {
    margin-bottom: 8px;
}

.btn-link {
    text-decoration: none;
}

.btn-link h2 {
    color: #FFA800;
}

.btn-link li {
    color: black;
}

.accordion {
    margin-bottom: 8px;
}

.accordion-item {
    border-radius: 4px;
}

.accordion-item:not(:first-of-type) {
    border: 1px solid #D9D9D9 !important;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;

}
.accordion-button:focus {
    border-color: #FFA800 !important;
}

.accordion-item button {
    border-radius: 4px;
}

.title {
    color: #FFA800;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffa800'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

}

.erreur {
    color: red;
}